<div id="page">
  <div id="floater"></div>
  <div id="content">
    <div id="title">
      <h1>Betty and George</h1>
    </div>
    <div id="message_list">
      <%= render :partial => 'all_messages' %>
    </div>
  </div>
</div>